.hoopers {
    flex: 0 0 calc(20% - 23px);
    margin: 20px;
    text-align: center;
}
.hoopers img{
    width: 100%;
    height:auto;
    border-radius: 8px;
}
.hoopers h2 {
    margin-top: 10px;
    font-size: 18px;
    color: white;

}
h1 {
    color: white;
}
header p {
    color: white;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body{
    background-color: darkred;
    background-image: url("https://wallpapers.com/images/hd/gradient-background-7xsdz99i2ljokhwn.jpg");
    background-size: 120%;
}
header{
    text-align: center;
    background-color: antiquewhite;
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-soft-red-background-christmas-valentines-layout-designstudioroom-web-template-business-report-with-smooth-circle-gradient-color_1258-101807.jpg?semt=ais_hybrid");
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-image: url("https://wallpapers.com/images/featured/plain-gold-background-xltjzlz7df80i9ai.jpg");

}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(15, 13, 13);
    text-decoration: none;
}
h2 a {
    color:aliceblue;
    text-decoration: none;
}
footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}